<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VehiculosDBContainer" connectionString="metadata=res://*/Models.VehiculosDB.csdl|res://*/Models.VehiculosDB.ssdl|res://*/Models.VehiculosDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8EH7IIO;initial catalog=Vehiculos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>